.w-35{
	min-width: 350px;
}

.bg{
	background-color: #eee;
	/*color: #fff;*/
}

.signup{
border-radius: 10px;
margin-top: 8rem !important;
}

.icon-style{
	font-size: 5rem;
}

.login-btns{
	width: 100%;
}

.search{
	height: 600px;
}

.js-products{
	height: 90%;
	overflow-y: scroll;
	flex-wrap: wrap;
}

.bold{
	font-weight: bold;
}