body{
	font-family: 'Nunito', sans-serif;
}

.w-35{
	min-width: 350px;
}

.bg{
	/*background-color: #eee;*/
	/*color: #fff;*/
}

.bg-gray{
	background-color: #eee;
}

.signup{
border-radius: 10px;
margin-top: 8rem !important;
}

.icon-style{
	font-size: 5rem;
}

.login-btns{
	width: 100%;
}

.search{
	height: 600px;
}

.js-products{
	height: 600px;
	overflow-y: scroll;
	flex-wrap: wrap;
}

.bold{
	font-weight: bold;
}

.items{
	flex-wrap: wrap;
	justify-content: center;
}

.cart-table{
	max-height: 400px;
	overflow-y: scroll;
}

.cart-img{
	width: 100px;
	height: 100px;
}

.numba-input{
	max-width: 150px;
}

.numba-input span{
	cursor: pointer;
}

center h4 .br-20{
	border-radius: 20px;
	font-size: 1rem;
}

.total{
	font-size: 2rem;
	float: right;
}

.form-control:focus{
	border-color: none;
	box-shadow: none !important;
}

